
<% render 'shared/errors' %>


<%=form_for  @service do |f|%>
<div class="form-group">
<%=f.label :name%>
<%=f.text_field :name, class:'form-control'%>
</div>
<div class="form-group">
<%=f.label :description%>
<%=f.text_area :description, class:'form-control'%>
<%=f.hidden_field :user_id%>
</div>
<div class="form-group">
<%=f.label :price%>
<%=f.number_field :price, step: 0.1, class:'form-control'%>
</div>

<%=f.submit class:'btn-dark btn-lg'%>
<%end %>
