<h1>Login</h1>
<%= flash[:message] if flash[:message]%>
<%=form_for :user do |f|%>
<%=f.label :username%>
<%=f.text_field :username%>
<br>
<%=f.label :business_name%>
<%=f.text_field :business_name%>
<br>
<%=f.label :password%>
<%=f.password_field :password%>
<br>
<%=f.submit "login"%>
<%end%>
<br>
<h3>Or</h3>
<br>
<%= link_to 'Log in with google', '/auth/google_oauth2/' %>