<h1> heres a list of all your jobs</h1>
<%if !@service_technician%>
<%=form_tag jobs_path, method: :get do%>
<%=text_field_tag :query %>
<%=submit_tag "search"%>
<%end%>
<%end%>
<b><%= flash[:message] if flash[:message]%></b>
<%@jobs.each do |job|%>

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class = "list-group-item"><%= link_to job.location, job_path(job) %>, on <%=job.scheduled_for?.strftime("%A, %B %d, %Y")%></li>
  </ul>
</div>
<%end%>
<%if @service_technician%>
<%= link_to 'new job for this technician', new_service_technician_job_path(@service_technician)%>
<%end%>
<br>
<%= link_to 'new job', new_job_path %>