<% if @client.errors.any? %>
<ul>
  <% @client.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<%=form_for @client do |f|%>
<div class='form-group'>
  <%=f.label :name%>
  <%=f.text_field :name, class:'form-control'%>
  <br>
  <%=f.label :location%>
  <%=f.text_field :location, class:'form-control'%>
  <br>


  <%=f.hidden_field :user_id%>

  <br>
  <%=f.submit%>
</div>
<%end%>