<h1>clients index page</h1>

<%=form_tag clients_path, method: :get do%>
<%=text_field_tag :query %>
<%=submit_tag "search"%>
<%end%>

<%@clients.each do |c|%>
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class = "list-group-item"><%= link_to c.name, client_path(c) %></li>
  </ul>
</div>

<%end%>

 <%= link_to 'add client', new_client_path %>