
<div class="card">
  <h5 class="card-header"><%=@service_technician.name%></h5>
  <div class="card-body">
    <h5 class="card-title">Here's a list of all the jobs that this <%=@service_technician.name%> has worked on or is assigned to work on:</h5>
    <p class="card-text"><%= link_to 'All jobs for this tech', service_technician_jobs_path(@service_technician), class:"btn btn-dark" %>

<br>
<b>Would you like to edit <%=@service_technician.name%>'s' information?</b>
<br>
<%= link_to 'edit', edit_service_technician_path(@service_technician), class:"btn btn-dark" %>
<br>
<b>Would you like to delete <%=@service_technician.name%></b>
<br>
<%= link_to "Delete service_technician", service_technician_path(@service_technician), class:"btn btn-dark", method: "delete"%>
<br>
<b>Would you like to see a list of all the service technicians?</b>
<br>
<%= link_to 'All Techs', service_technicians_path, class:"btn btn-dark" %>
<br>
<b>Would you like to add a job for <%=@service_technician.name%>?
<br>
<%= link_to 'add job for this tech', new_service_technician_job_path(@service_technician), class:"btn btn-dark" %>
<br>
</p>

  </div>
</div>
<h1><%=@service_technician.name%></h1>
<br>

<br>
<b>Here's a list of all the jobs that this <%=@service_technician.name%> has worked on or is assigned to work on:</b>
<br>
<%= link_to 'All jobs for this tech', service_technician_jobs_path(@service_technician) %>

<br>
<b>Would you like to edit <%=@service_technician.name%>'s' information?</b>
<br>
<%= link_to 'edit', edit_service_technician_path(@service_technician) %>
<br>
<b>Would you like to delete <%=@service_technician.name%></b>
<br>
<%= link_to "Delete service_technician", service_technician_path(@service_technician), method: "delete"%>
<br>
<b>Would you like to see a list of all the service technicians?</b>
<br>
<%= link_to 'All Techs', service_technicians_path %>
<br>
<b>Would you like to add a job for <%=@service_technician.name%>?
<br>
<%= link_to 'add job for this tech', new_service_technician_job_path(@service_technician) %>
<br>
