<!DOCTYPE html>
<html>
  
  <head>
 
    <title>BusinessServiceManagementApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <%= stylesheet_link_tag 'style', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation'%>
  <div class="container" id="home-container">
    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
  </div>
</div>
  <%if logged_in?%>
  <h1> <%=current_user.username%></h1>
  <%= link_to 'logout', logout_path, method: "delete" %>
  <%= link_to 'home', user_path(current_user) %>
  <br>
  <%else %>
  <%= link_to 'home', root_path %>
  <%end%>
  
    
    <%= yield %>
  </body>
</html>
