<!DOCTYPE html>
<html>
  
  <head>
 
    <title>BusinessServiceManagementApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <%= stylesheet_link_tag 'style', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%if logged_in?%>
  <h1> <%=current_user.username%></h1>
  <%= link_to 'logout', logout_path, method: "delete" %>
  <%= link_to 'home', user_path(current_user) %>
  <br>
  <%else %>
  <%= link_to 'home', root_path %>
  <%end%>
  
    
    <%= yield %>
  </body>
</html>
